In [253]:
5+4

9

# THis is a MD cell
## lala
### kaka
#### tata
* bullet
* bullet

for help shift+tab

# THis is a raw cell
## lala
### kaka
#### tata
* bullet
* bullet (can not do formating)

shortcuts of markdown = m 
DD to delete a cell
ALT+enter create a cell
esc make cell blue
enter make cell green

press A to create cell above your current cell
press B to create cell Below your current cell

### math operations

In [254]:
5-2

3

In [255]:
5/2

2.5

In [256]:
5**2

25

In [257]:
5%2

1

In [258]:
5*2+4

14

In [259]:
5*(2+4)

30

In [260]:
a= 2

In [261]:
a

2

In [262]:
a=5*2+4

In [263]:
a

14

In [264]:
5>2

True

In [265]:
5<=2

False

In [266]:
result=100/77

In [267]:
result

1.2987012987012987

Float formatting {value:width.precision f}

In [268]:
print("the result was {r:1.3f}".format(r=result))

the result was 1.299

### String

In [269]:
"python bitch"

'python bitch'

use double quote "string"

In [270]:
str = "lala"

In [271]:
str

'lala'

In [272]:
print(str)

lala

In [273]:
x= "R"

string formating

In [274]:
print("st {} turorial".format(x))

st R turorial

In [275]:
X="cute"

In [276]:
print("zayn is {} as hell but harry is more {} !".format(X,X))

zayn is cute as hell but harry is more cute !

In [277]:
print("the {a} {b} {c}".format(a="one", b="direction", c="!!"))

the one direction !!

In [278]:
name="athoi"
no="shit" 
print(f"fucking hoe {name} {no}")

fucking hoe athoi shit

string length

In [279]:
len(X)

4

In [280]:
str = "I like big butts and I cant lie"

replace

In [281]:
str.replace(("butts"), "icecream")

'I like big icecream and I cant lie'

In [282]:
str= str.replace(("butts"), "icecream")

In [283]:
str

'I like big icecream and I cant lie'

In [284]:
print("hello \n world")

hello
 world

In [285]:
print("hello \tworld")

hello 	world

In [286]:
str[5]

'e'

slicing

In [287]:
str[2:5]

'lik'

In [288]:
str[-1]

'e'

In [289]:
str[:5]

'I lik'

In [290]:
str[5:]

'e big icecream and I cant lie'

In [291]:
## [start:stop:step]
str[2:10:2]

'lk i'

In [292]:
str

'I like big icecream and I cant lie'

In [293]:
type(str)

str

In [294]:
type(a)

int

In [295]:
str.upper()

'I LIKE BIG ICECREAM AND I CANT LIE'

In [296]:
str.lower()

'i like big icecream and i cant lie'

In [297]:
str.split()

['I', 'like', 'big', 'icecream', 'and', 'I', 'cant', 'lie']

In [298]:
str.split("i")

['I l', 'ke b', 'g ', 'cecream and I cant l', 'e']

### list

In [299]:
list1= ["str",2,3,4]

In [300]:
type(list1)

list

In [301]:
print(list1)

['str', 2, 3, 4]

In [302]:
list1[0]

'str'

In [303]:
list1[0:3]

['str', 2, 3]

In [304]:
list2= [1,2,4]

In [305]:
list3=list1+list2
print(list3)

['str', 2, 3, 4, 1, 2, 4]

In [306]:
list3[0]="gaga"
print(list3)

['gaga', 2, 3, 4, 1, 2, 4]

In [307]:
list3.append("six")

In [308]:
list3

['gaga', 2, 3, 4, 1, 2, 4, 'six']

In [309]:
list3.pop()

'six'

In [310]:
list3

['gaga', 2, 3, 4, 1, 2, 4]

In [311]:
poppeditem= list3.pop()

In [312]:
poppeditem

4

In [313]:
poppeditem= list3.pop(0)
print(poppeditem)

gaga

In [314]:
list4=["a","e","c","d","b"]
list5=[5,8,2,1]

In [315]:
list4.sort()

In [316]:
list4

['a', 'b', 'c', 'd', 'e']

In [317]:
list5.sort()
list6=list5

In [318]:
list6

[1, 2, 5, 8]

In [319]:
list6.reverse()

In [320]:
list6

[8, 5, 2, 1]

### dictionaries

{'key1':'value','key2':'value1'}

In [321]:
dict1 ={'key1':'value','key2':'value1'}

In [322]:
dict1

{'key1': 'value', 'key2': 'value1'}

In [323]:
dict1['key1']

'value'

In [324]:
price = {'apple': 2.99, 'orange':4.99}

In [325]:
price['orange']

4.99

In [326]:
d={'k1':'apple','k2':[1,2,4], 'k5':{'k4':100}}

In [327]:
d['k1'][2].upper()

'P'

### tuples

In [328]:
t =(1,2,3)

In [329]:
list = [1,2,3]

In [330]:
type(t)

tuple

In [331]:
type(list)

list

In [332]:
t=('one',2)

In [333]:
t[-1]

2

In [334]:
t =('a','a','b')

In [335]:
t.count('a')

2

In [336]:
t.index('a')

0

In [337]:
t.index('b')

2

In [338]:
list[0] = 'new'

In [339]:
list

['new', 2, 3]

In [340]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

### sets

In [ ]:
set = set()

In [ ]:
set

In [ ]:
set.add(1)

In [ ]:
set

In [ ]:
set.add(2)

In [ ]:
set

In [ ]:
set.add(2)

In [ ]:
set

In [ ]:
mylist= [1,2,2,2,2,2,4,4,4,4,4]

In [ ]:
set(mylist)

### Boolean

In [ ]:
True

In [ ]:
False

In [342]:
type(False)

bool

In [343]:
1>2

False

In [344]:
1==1

True

In [345]:
b = None

In [346]:
b

### creating text file

In [348]:
%%writefile text.txt
hi
bye
lie 
ki

Writing text.txt

In [350]:
text = open('text.txt')

In [351]:
pwd

'E:\\ML_and_DL_in_Python_&_R'

In [352]:
text = open('text.txt')

In [353]:
text.read()

'hi\nbye\nlie \nki\n'

In [354]:
text.read()

''

In [355]:
text.seek(0)

0

In [356]:
text.read()

'hi\nbye\nlie \nki\n'

In [357]:
text.read()

0

In [358]:
content = text.read()

In [359]:
content

'hi\nbye\nlie \nki\n'

In [362]:
text.seek(0)

0

In [363]:
text.readlines()

['hi\n', 'bye\n', 'lie \n', 'ki\n']

In [364]:
text.close()

In [366]:
with open('text.txt') as newfile:
    content=text.read()

In [367]:
content

'hi\nbye\nlie \nki\n'

In [368]:
with open('text.txt',mode='r') as text:
    content=text.read()

mode r = read only
mode w write only(overwrite)
mode a append(add on files)
mode=r+ reading writing
mode=w+ reading writing(overwrite exists)

In [370]:
with open('text.txt',mode='r') as text:
    print(text.read())

hi
bye
lie
ki

In [374]:
with open('text.txt',mode='a') as text:
    text.write('fuck \nfuck')

In [375]:
with open('text.txt',mode='r') as text:
    print(text.read())

hi
bye
lie
ki
fuck fuckfuck
fuck

In [377]:
with open('ahjkhoa.txt', mode='w') as f:
    f.write("hjadogt")

In [378]:
with open('ahjkhoa.txt', mode='r') as f:
    print(f.read())

hjadogt

### comparison operators

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [4]:
'lala' == 'kaka'

False

In [17]:
"2" == 2

False

In [6]:
3 != 3

False

In [7]:
2 > 5

False

In [8]:
2>= 4

False

logical operators

In [22]:
#one side have to be true
1<2 or 4>5

True

In [20]:
#both side have to be true
1<2 and 4<5

True

In [13]:
"h" == "h" and 2 == 2

True

In [24]:
"h" != "h" or 2 != 2

False

In [26]:
#prints the opposite of boolean
not(1 == 1)

False

### Statements

In [28]:
if 4>2:
    print('its true')

its true

In [32]:
hungry = False
if hungry:
    print('feed me')
else:
    print('fuck off')

fuck off

In [34]:
loc = 'house'
if loc == 'auto shop':
    print('gorgeous car')
elif loc == 'bank':
    print('money money')
elif loc == 'house':
    print('sleep')
else:
    print('boring')

sleep

### loops

For loop

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [4]:
for num in mylist:
    print('hello '+ str(num))

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [5]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number : {num}')

odd number : 1
2
odd number : 3
4
odd number : 5
6
odd number : 7
8
odd number : 9
10

In [14]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num    
print(list_sum)

55

In [15]:
string = 'hello world'
for letter in string:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [16]:
tup =(1,2,3)
for _ in tup:
    print(_)

1
2
3

In [18]:
l1 =[(1,2),(3,4),(5,6),(7,8),(9,10)]

for _ in l1:
    print(_)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [21]:
#tuple unpacking
for a,b in l1:
    print(b)

2
4
6
8
10

In [22]:
l2 =[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in l2:
    print(b+2)

4
7
10

In [30]:
d={'k1':1,'k2':2,'k3':3,}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [31]:
#tuple technique
d={'k1':1,'k2':2,'k3':3,}
for key,num in d:
    print(num)

1
2
3

In [28]:
d={'k1':1,'k2':2,'k3':3,}
for num in d.values():
    print(num)

1
2
3

In [29]:
d={'k1':1,'k2':2,'k3':3,}
for key in d.keys():
    print(key)

k1
k2
k3

while loop

In [3]:
x = 50
while x<5:
    print(f'the value of x {x}')
    x=x+1
    #x+=1
else:
    print('done')

done

break,continue,pass

In [6]:
#avoid syntex error
x=[1,2,4]
for item in x:
    pass
print('hi')

hi

In [11]:
#goes to the top of the current enclosing loop
s1 = 'sammy'
for _ in s1:
    if _ == 'a':
        continue
    print(_)

s
m
m
y

In [12]:
#breaks the loop and stop it
s1 = 'sammy'
for _ in s1:
    if _ == 'a':
        break
    print(_)

s

In [1]:
x = 0
while x<5:
    if x == 3:
        break
    print(x)
    x+=1

0
1
2

### useful functions

In [6]:
#range
#print n table
for num in range(0,11,4):
    print(num)

0
4
8

In [7]:
list(range(0,41,4))

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [8]:
#enumerate to count index in tuples
word ='abcde'
for _ in enumerate(word):
    print(_)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [14]:
word='abcde'
for i,_ in enumerate(word):
    print(i )
    print(_)
    print("\n")

0
a


1
b


2
c


3
d


4
e

In [21]:
#zips together two or more lists
#uneven lists will be a problem
l1 = [1,2,4,5]
l2 = [0,9,8,7]

for a,b in zip(l1,l2):
    print(a)

1
2
4
5

In [22]:
2 in [1,2,3]

True

In [24]:
l1 = [1,2,4,5]
print(min(l1))
print(max(l1))

1
5

In [26]:
from random import shuffle

In [36]:
l1 = [1,2,4,5]
shuffle(l1)

In [37]:
l1

[4, 5, 2, 1]

In [39]:
from random import randint

In [41]:
num = randint(0,100)

In [42]:
num

49

In [43]:
input('enter a number: ' )

enter a number: 1

'1'

In [45]:
num = input('input ')

input 4

In [46]:
num

'4'

In [47]:
type(num)

str

In [48]:
int(num)

4

In [49]:
mylist = ['a','b','c','d','e']

In [50]:
mylist

['a', 'b', 'c', 'd', 'e']

list comprehension

In [51]:
#less time consuming
list1 = [x for x in 'abcdefghijk']

In [52]:
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [55]:
num = [x for x in range(0,10)]

In [56]:
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
num = [x**2 for x in range(0,10)]

In [62]:
num

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
l1 = [x for x in range(0,11) if x%2==0]

In [67]:
l1

[0, 2, 4, 6, 8, 10]

In [72]:
#celcius to fahrenheit conversion
c = [20,40,50,60]
f = [((9/5*t+32)) for t in c]

In [73]:
f

[68.0, 104.0, 122.0, 140.0]

In [79]:
x='SAM A trained chef who uses various swords to fight. '
for _ in x.split():
    if _[0].lower() == "s":
       print(_)

SAM
swords

In [85]:
for x in range(0,11):
    if x%2==0:
        print(x)

0
2
4
6
8
10

In [84]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [87]:
l1 = [x for x in range(1,51) if x%3==0]

In [88]:
l1

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [89]:
[x for x in range(1,51) if x%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [91]:
x='SAM A trained chef who uses various swords to fight. '
for _ in x.split():
    if len(_) % 2 == 0:
        print(_)

chef
uses
swords
to
fight.

In [103]:
for x in range(1,101):
    if x%3==0 and x%5==0:
        print("FizzBuzz")
    elif x%3==0:
        print('Fizz')
    elif x%5==0:
        print("Buzz")
    else:
        print(x)
        .

SyntaxError: invalid syntax (<ipython-input-103-72cc0cc1dda3>, line 10)

In [104]:
x='SAM A trained chef who uses various swords to fight. '
[i[0] for i in x.split()]

['S', 'A', 't', 'c', 'w', 'u', 'v', 's', 't', 'f']

In [1]:
l1 = [1,2,4,5,6]

In [2]:
l1.append(4)

In [3]:
l1

[1, 2, 4, 5, 6, 4]

In [4]:
help(l1.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

## FUNCTIONS

### DEF keyword

In [12]:
def function_1(n):
    print('hello '+n)

In [13]:
function_1('rose')

hello rose

In [9]:
def math(n1,n2):
    return n1+n2

In [11]:
r=math(1,4)

In [12]:
r

5

In [1]:
def hi():
    print("hello")
    print('hi')
    print('ki')

In [3]:
hi()

hello
hi
ki

In [6]:
def hi(name="default"):
    print(f'hello {name}')

In [7]:
hi()

hello default

In [8]:
hi('kate')

hello kate

In [2]:
def print_result(a,b):
    print(a+b)

In [3]:
print_result(4,5)

9

In [4]:
result = print_result(10,20)

30

In [5]:
result

In [6]:
type(result)

NoneType

In [7]:
def return_result(x,y):
    return x+y

In [8]:
result = return_result(4,5)

In [9]:
result

9

In [10]:
def func(a,b):
    print(a+b)
    return a+b

In [12]:
result = func(7,4)

11

In [13]:
result

11

In [14]:
def addition(a1,a2):
    return a1+a2

In [15]:
addition('10','20')

'1020'

In [16]:
addition(10,20)

30

In [17]:
#radius
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [18]:
vol(5)

523.3333333333334

In [32]:
#number is in range or not
def range_check(a,b,c):
    if(a<b or a>c):
        return f"{a} is not in the range between {b} and {c}"
    else:
        return f"{a} is in the range between {b} and {c}"

In [33]:
r= range_check(7,2,7)

In [34]:
r

'7 is in the range between 2 and 7'

In [30]:
#number is in range or not
def ran_check(x,y,z):
    if x in range(y,z):
        print (f"{x} is not in the range between {y} and {z}")
    else:
        print (f"{x} is not in the range between {y} and {z}")

In [31]:
ran_check(2,5,6)

2 is not in the range between 5 and 6

In [51]:
def uplow(s):
    #lowercase = 0
    #uppercase = 0
    d = {'upper':0,'lower':0}
    for _ in s:
        if _.isupper():
            #uppercase+=1
            d['upper']+=1
        elif _.islower():
            #lowercase+=1
            d['lower']+=1
        else:
            pass
        
        
    print(d)
    #print(lowercase)

In [52]:
#print the upper case and lower case number
s = "Hello Mr. Rogers, how are you this fine Tuesday?"
uplow(s)

{'upper': 4, 'lower': 33}

In [53]:
def mod(a):
    if a%2==0:
        print('even')
    else:
        print('odd')

In [55]:
mod(5)

odd

In [56]:
def even(n):
    return n%2==0

In [57]:
even(4)

True

In [63]:
#return true if any number is even inside a list
def check_even(nlist):
    for _ in nlist:
        if _ %2==0:
            return True
        else:
            pass
    return False

In [59]:
l1= [x for x in range (1,10)]

In [60]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
check_even(l1)

True

In [64]:
check_even([1,1,1])

False

In [3]:
#print all even numbers
def even(l):
    list = []
    x=0
    for n in l:
        if n%2==0:
            list.append(n)
            x+=1
        else:
            pass
    return list,x

In [4]:
even([1,2,4,5])

([2, 4], 2)

In [5]:
stock_price = [('apple',200),('google',400),('microsoft',100)]

In [6]:
for item in stock_price:
    print(item)

('apple', 200)
('google', 400)
('microsoft', 100)

In [8]:
for t,s in stock_price:
    print(t)
    print(s+5)

apple
205
google
405
microsoft
105

In [18]:
#tuple unpacking with a function
s = [('sara',200),('nika',400),('lari',100)]

In [19]:
def emp(work_hours):
    current_max=0
    employee_of_the_month= ''
    for e,c in work_hours:
        if c>current_max:
            current_max= c
            employee_of_the_month= e
        else:
            pass
    return(employee_of_the_month,current_max)

In [20]:
emp(s)

('nika', 400)

In [21]:
result=emp(s)

In [22]:
result

('nika', 400)

In [23]:
h,s = emp(s)

In [24]:
h

'nika'

In [25]:
s

400

In [32]:
from random import shuffle

In [29]:
a=[1,2,4,5,6,7]

In [30]:
#three cup monte
def shuffle_list(l1):
    shuffle(l1)
    return l1

In [36]:
shuffle_list(a)

[4, 2, 1, 6, 7, 5]

In [38]:
#three cup monte
mylist = ['','0','']

In [39]:
shuffle_list(mylist)

['', '', '0']

In [46]:
def guess():
    guess=''
    while guess not in ['0','1','2']:
#input() always returns string so change it to your desired type
        guess = input('pick a number 0 1 or 2')
    return int(guess)

In [47]:
index=guess()

pick a number 0 1 or 22

In [48]:
def check_guess(mylist,guess):
    if mylist[guess] == '0':
        print('correct')
    else:
        print('loser!')
        print(mylist)

In [55]:
mylist = ['','0','']
s=shuffle_list(mylist)
index=guess()
check_guess(s,index)

pick a number 0 1 or 22
loser!
['0', '', '']

In [56]:
#add bunch of tuples in your argument(arbitary num of arguments)
def f(*args):
    return sum(args)*0.5

In [57]:
f(1,5,6,54,8,65,7,47,6)

99.5

In [2]:
#add bunch of dictionaries in your argument
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print(kwargs['fruit'])
    else:
        pass

In [3]:
myfunc(fruit='apple')

apple

In [5]:
#add args and kwargs
def myfun(*args,**kwargs):
    print(args[0])
    print(kwargs['fruit'])

In [9]:
myfun(0,5,6,54,8,65,7,47,6,fruit='apple')

0
apple

#### map

In [1]:
map

map

In [2]:
def square(n):
    return n**2

In [3]:
num =[1,2,3,4,5]

In [5]:
for item in map(square,num):
    print(item)

1
4
9
16
25

In [6]:
list(map(square,num))

[1, 4, 9, 16, 25]

In [7]:
def splicer(s):
    if len(s)%2==0:
        return 'even'
    else:
        return s[0]

In [8]:
name =['andy','eve','sally']

In [9]:
list(map(splicer,name))

['even', 'e', 's']

In [37]:
def check_even(num):
    return num%2==0

In [38]:
check_even(5)

False

In [40]:
n =[x for x in range(1,5)]

In [41]:
n

[1, 2, 3, 4]

In [42]:
list(map(lambda n:n%2==0,n))

[False, True, False, True]

In [24]:
list(filter(check_even,n))

[2, 4, 6]

In [25]:
for n in filter(check_even,n):
    print(n)

2
4
6

In [26]:
def square_1(num):
    result = num**2
    return result

In [27]:
square_1(3)

9

In [29]:
square_2 = lambda num: num**2

In [30]:
square_2(5)

25

In [35]:
n=[x for x in range(1,8)]

In [43]:
list(map(lambda n:n**2,n))

[1, 4, 9, 16]

#### nested loop

In [46]:
name= 'global string' #global
def greet():
    name = 'Sammy' #enclosing function local
    
    def hello():
        name= 'kaya' #Local
        print('hello'+name)
    hello()

In [47]:
greet()

hellokaya

In [48]:
x = 50
def func():
    global x
    print(x)
    x=200
    print(x)

In [50]:
func()

50
200

In [51]:
x

200

In [53]:
x = 50
def func1():
     x=200
    print(x)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)