https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/

Exercise 1: Print First 10 natural numbers using while loop

In [2]:
x=1
while x<=10:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10

Exercise 2: Print the following pattern

In [4]:
k = 5
# (start stop step)
for i in range(1, k + 1, 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [9]:
x = int(input())
sum=0
for i in range(1,x+1):
    sum+=i
print(sum)

10
55

Exercise 4: Write a program to print multiplication table of a given number

In [15]:
x = int(input())
for i in range(1,11):
    print(x*i)

2
2
4
6
8
10
12
14
16
18
20

Exercise 5: Display numbers from a list using loop
The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop

In [19]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i%5 == 0 and i<=150:
        print(i)
    if i>500:
        break

75
150
145

Exercise 6: Count the total number of digits in a number

In [39]:
num = 78969
count= 0 
while num != 0:
    num = num//10
    count = count+1
print(count)

5

Exercise 7: Print the following pattern

In [38]:
for i in range (5,0,-1):
    j=1
    k=i
    for j in range (j,i+1,1):
        print(k, end= ' ')
        k-=1
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Exercise 8: Print list in reverse order using a loop

In [44]:
list1 = [10, 20, 30, 40, 50]
newlist = reversed(list1)
for i in newlist:
    print(i)

50
40
30
20
10

Exercise 9: Display numbers from -10 to -1 using for loop

In [48]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [52]:
for i in range(5):
    print(i)
else:
    print('Done!')

0
1
2
3
4
Done!

Exercise 11: Write a program to display all prime numbers within a range

In [53]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1): 
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

Exercise 12: Display Fibonacci series up to 10 terms

In [9]:
n=10
num1=0
num2=1
count =0
while count<n:
    if num1 == 0 and num2 == 1:
        count+=2
        print(num1)
        print(num2)
    print(num1+num2)
    temp=num1
    num1=num2
    num2=temp+num2
    count+=1

0
1
1
2
3
5
8
13
21
34

Exercise 13: Find the factorial of a given number

In [12]:
n=9
m=1
for i in range(1,n+1):
    m=m*i
print(m)

362880

Exercise 14: Reverse a given integer number

In [9]:
num = 76542
rev = 0
while num > 0:
    rem = num % 10
    rev = rev*10 +rem
    num = num//10
print(rev)

24567

Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [13]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(len(my_list)):
    if i % 2!=0:
        print(my_list[i], end= ' ')

20 40 60 80 100

Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [16]:
num = 6
for i in range(1,num+1):
    print(f'Current Number is : {i}  and the cube is {i**3}')

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

Exercise 17: Find the sum of the series upto n terms

In [18]:
n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

Exercise 18: Print the following pattern

In [19]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*