https://pynative.com/python-input-and-output-exercise/

Exercise 1: Accept numbers from a user

In [2]:
a= int(input())
b= int(input())
a*b

3
4

12

Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [6]:
print('my','name','is','james',sep='**')

my**name**is**james

In [7]:
print('my','name','is','james',end='**')

my name is james**

Exercise 3: Convert Decimal number to octal using print() output formatting

In [12]:
num = 8
print('%o' % num)

10

Exercise 4: Display float number with 2 decimal places using print()

In [13]:
num = 458.541315
print('%.2f' % num)

458.54

Exercise 5: Accept a list of 5 float numbers as an input from the user

In [16]:
a = []
for i in range(5):
    a.append(float(input()))
print(a)

4.5
4.55
4.6
2.3
2.44
[4.5, 4.55, 4.6, 2.3, 2.44]

Exercise 6: Write all content of a given file into a new file by skipping line number 5

In [35]:
# creating a file
with open('test.txt','w') as fp:
    for i in range(1,8):
        x='line'+str(i)
        fp.write(str(x))
        fp.write('\n')

In [45]:
with open("test.txt", "r") as fp:
    lines=fp.readlines()
#     print(type(lines))
with open('new_file.txt','w') as fp:
# counting lines
    count = 0
# iterating list lines
    for x in lines:
#     skipping 5th line
        if count == 4:
            count +=1
            continue
#             appending
        else:
            fp.write(x)
        count+=1

In [46]:
try:
    fp = open("test.txt", "r")
    print(fp.read())
    fp.close()
except FileNotFoundError:
    print("Please check the path.")

line1
line2
line3
line4
line5
line6
line7

In [47]:
try:
    fp = open("new_file.txt", "r")
    print(fp.read())
    fp.close()
except FileNotFoundError:
    print("Please check the path.")

line1
line2
line3
line4
line6
line7

Exercise 7: Accept any three string from one input() call

In [61]:
# taking input
x = input('Enter three string ')
# spliting in space and inserting it in list
z= x.split(' ')
k = 1
# iterate
for i in range (3):
    print(f'name{k}: {z[i]}')
    k +=1

Enter three string Emma Jessa Kelly
name1: Emma
name2: Jessa
name3: Kelly

Exercise 8: Format variables using a string method.

In [63]:
totalMoney = 1000
quantity = 3
price = 450
print(f'I have {totalMoney} dollars so I can buy {quantity} football for {price} dollars.')

I have 1000 dollars so I can buy 3 football for 450 dollars.

Exercise 9: Check file is empty or not

In [70]:
import os
size = os.stat("test.txt").st_size
if size == 0:
    print('file is empty')

Exercise 10: Read line number 4 from the following file

In [76]:
with open("test.txt", "r") as fp:
    lines=fp.readlines()
    print(lines[4])

line5